:root {
    --color-primary: #0000ff;
    --color-secondary: #616161;
    --color-cyan: #5b9bd5;
    --color-active: #ffc000;
    --color-white: #ffffff;
    --color-black: #213442;
    --color-gray: #7f7f7f;
}

.hoc-header-top{
    background-color: var(--color-cyan);
    color: var(--color-white);
    padding: 20px 0 20px 0;
    border-bottom: 1px solid var(--color-primary);
}

.hoc-header-bottom .nav-link{
    color: var(--color-primary);
    font-weight: bold;
    font-size: 15px;
}

.hoc-header-bottom .nav-link.active{
    background-color: var(--color-active);
    color: var(--color-primary);
    padding-left: 4.5rem;
    padding-right: 4.5rem;
    text-align: center;
}